<!DOCTYPE html>
<html lang="en"><!-- Это если взбредёт в голову чиркануть на англике -->
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>
    <h1>Добавить книгу</h1>
    <form method="POST"><!-- (Книги сбагрили на сервер методом пост, который отправляет данные) -->
        {% csrf_token %}<!-- Дефолтная безопасность -->
        {{ form.as_p }}<!-- Преобразовала форму form = Bookform() в хтмл код со всеми нужными input полями -->
        <button type="submit">Добавить</button><!-- Кнопка отправляющая данные на сервер -->
    </form>
</body>
</html>
