<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %} <!-- Подгружаем возможность загружать статические файлы -->
    <link rel="stylesheet" type="text/css" href="{% static 'echo/styles.css' %}"> <!-- Подключаем этот статический файл -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Годится для мобилы -->
    <title>Bookstore | Гламурные книги</title> <!-- Заголовок страницы -->
</head>
<body>
    <div class="container">
        <h1>📚 Гламурный Книжный Магазин 📚</h1>
        {% if user.is_authenticated %}
            <p>Привет, {{ user.username }}! Добро пожаловать обратно!</p>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <p>У вас еще нет аккаунта?</p>
            <a href="{% url 'login' %}">Войдите</a> или
            <a href="{% url 'register' %}">зарегистрируйтесь</a>, чтобы иметь доступ ко всем функциям!
        {% endif %}

        {% for book in books %} <!-- Ищем книжечки из вьюз.пай -->
            <div class="book-container">
                <p>{{ book.title }} - <i>{{ book.author }}</i> ({{ book.price }} руб)</p><!-- Вывожу название, автора и $ -->
                {% if user.is_authenticated and user.role == 'admin' %}<!-- Кнопки для администраторов -->
                <div class="buttons">
                    <a href="{% url 'edit_book' book.id %}" class="fancy-button">✨ Изменить ✨</a><!-- Джанго бро находит айди книги и работает с этой книгой -->
                    <a href="{% url 'delete_book' book.id %}" class="fancy-button">🗑 Удалить 🗑</a>
                </div>
                {% endif %}
            </div>
        {% endfor %}

        {% if user.is_authenticated%}
        <a href="{% url 'add_book' %}" class="add-button">➕ Добавить книгу ➕</a><!-- Идём на страничку эд бука -->
        {% endif %}
    </div>
    <div class="pagination"><!-- Значица, внедрили пагинацию -->
    {% if books.has_previous %}<!-- Чекаем предыдущую страничку -->
        <a href="?page=1" class="page-button">⏮ Первая</a><!-- Если да, то создаём две кнопки -->
        <a href="?page={{ books.previous_page_number }}" class="page-button">⬅ Назад</a>
    {% endif %}
    <!-- Показываем номер текущей странички и общее количество страниц -->
    <span class="current-page">Страница {{ books.number }} из {{ books.paginator.num_pages }}</span>

    {% if books.has_next %}<!-- Чекаем следующую страничку -->
        <a href="?page={{ books.next_page_number }}" class="page-button">Вперёд ➡</a><!-- Присобачиваем ещё две кнопки нафик то -->
        <a href="?page={{ books.paginator.num_pages }}" class="page-button">Последняя ⏭</a>
    {% endif %}
    </div>
</body>
</html>
<!-- Путь самурая:-->
<!--челик заходит на тут на add(допустим)-->
<!--потом в юрлс переходит на другую страничку-->
<!--идём во вьюз и он решает что делать с запросом-->
<!--(там ещё используем booksform, которая автоматом создаёт хтмл-форму)-->
<!-- из booksform идём в models, где и связываемся с бд-->
<!--идём в эд_бук хтмл с пустой формой, жмём и отправляем запрос>